<div class="site-footer">

    <!-- Site Share -->
    <div id="site-share">
        <span class="site-share">
            <span class="info">Connect</span>
        </span>
        <span class="site-share">
            <a class="fb" target="_blank" href="https://www.facebook.com/digitaljalebi">
                Fb
                <small>.</small>
            </a>
        </span>
        <span class="site-share">
            <a class="vi" target="_blank" href="https://vimeo.com/digitaljalebi">
                Vi
                <small>.</small>
            </a>
        </span>
        <span class="site-share">
            <a class="in" target="_blank" href="http://www.linkedin.com/company/digital-jalebi">
                In
                <small>.</small>
            </a>
        </span>
        <span class="site-share">
            <a class="gplus" target="_blank" href="https://plus.google.com/116006344912966352385">
                G+
                <small>.</small>
            </a>
        </span>
    </div>

    <!-- Footer text -->
    <div class="footer-width">
        <div class="footer-text">
            You can follow us on
            <a href="https://www.facebook.com/digitaljalebi" target="_blank">Facebook</a>,
            <a href="https://vimeo.com/digitaljalebi" target="_blank">Vimeo</a>,
            <a href="http://www.linkedin.com/company/digital-jalebi" target="_blank">LinkedIn</a> &
            <a href="https://plus.google.com/116006344912966352385" target="_blank">Google Plus</a>
            or say hello at
            <a href="mailto:hello@digitaljalebi.com">hello@digitaljalebi.com</a>
        </div>
    </div>

</div>


<!-- Site Actions -->
<div class="site-actions">
    <a class="site-actions-up" ng-click="scrollToTop()">
        <span class="icon">
            <i class="material-icons">arrow_upward</i>
        </span>
    </a>
</div>