<header class="site-header">
    <div class="site-header-wrapper">
        <a class="site-logo" ng-href="#/">
            <h2>
                <img src="../../img/logo.png">
            </h2>
        </a>
        <nav class="header-nav-right">
            <ul class="header-menu">
                <li class="header-menu-item">
                    <a ng-href="#/" ng-class="{active: $route.current.activetab == 'home'}">
                        Home
                    </a>
                </li>
                <li class="header-menu-item">
                    <a ng-href="#/about/" ng-class="{active: $route.current.activetab == 'about'}">
                        About
                    </a>
                </li>
                <li class="header-menu-item">
                    <a ng-href="#/clients/" ng-class="{active: $route.current.activetab == 'clients'}">
                        Clients
                    </a>
                </li>
                <li class="header-menu-item">
                    <a ng-href="#/media/" ng-class="{active: $route.current.activetab == 'media'}">
                        Media
                    </a>
                </li>
                <li class="header-menu-item">
                    <a ng-href="#/connect/" ng-class="{active: $route.current.activetab == 'connect'}">
                        Connect
                    </a>
                </li>
            </ul>

            <a class="responsive-nav" ng-click="showMenu()">
                <span class="lines"></span>
            </a>
        </nav>
    </div>
</header>


<!-- Mobile navigation -->
<div class="site-overlay" ng-show="mobileNav">
    <div class="responsive-menu">
        <i class="material-icons close-icon" ng-click="hideMenu()">close</i>

        <ul class="overlay-menu">
            <li>
                <a ng-href="#/" ng-class="{active: $route.current.activetab == 'home'}">
                    Home
                </a>
            </li>
            <li>
                <a ng-href="#/about/" ng-class="{active: $route.current.activetab == 'about'}">
                    About
                </a>
            </li>
            <li>
                <a ng-href="#/clients/" ng-class="{active: $route.current.activetab == 'clients'}">
                    Clients
                </a>
            </li>
            <li>
                <a ng-href="#/media/" ng-class="{active: $route.current.activetab == 'media'}">
                    Media
                </a>
            </li>
            <li>
                <a ng-href="#/connect/" ng-class="{active: $route.current.activetab == 'connect'}">
                    Connect
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- Mobile navigation -->



<!-- Loading container -->
<div class="loading-container">
    <div class="loading-box">
        <span>.</span>
        <span>.</span>
        <span>.</span>
    </div>
</div>