<div class="masonry-grid" data-masonry='{ "itemSelector": ".masonry-grid-item"}'>

    <!-- Repeat this element to create cards -->
    <div class="masonry-grid-item m65 ar">
        <article class="entry-portfolio">
            <a ng-href="#/projects/cokeArDiljit/">
                <figure class="entry-thumbnail">
                    <img src="../../img/projects/thumbnails/cokeArDiljit.jpg">
                </figure>

                <header class="entry-caption minimal">
                    <div class="display--table">
                        <div class="display--table-cell">
                            <div class="entry-caption-text">
                                <span class="entry-meta">Gurgaon</span>
                                <h3 class="entry-title">Coke AR Diljit</h3>
                            </div>
                        </div>
                    </div>
                </header>
            </a>
        </article>
    </div>
    <!-- Repeat this element to create cards -->

    <div class="masonry-grid-item m35 vr exp">
        <article class="entry-portfolio">
            <a ng-href="#/projects/soccerfun/">
                <figure class="entry-thumbnail">
                    <img src="../../img/projects/thumbnails/soccerfun.jpg">
                </figure>

                <header class="entry-caption minimal">
                    <div class="display--table">
                        <div class="display--table-cell">
                            <div class="entry-caption-text">
                                <span class="entry-meta">Ahmedabad</span>
                                <h3 class="entry-title">VR Soccer Fun</h3>
                            </div>
                        </div>
                    </div>
                </header>
            </a>
        </article>
    </div>

    <div class="masonry-grid-item m35 ar exp">
        <article class="entry-portfolio">
            <a ng-href="#/projects/parkAvenueAW/">
                <figure class="entry-thumbnail">
                    <img src="../../img/projects/thumbnails/parkAvenueAW.jpg">
                </figure>

                <header class="entry-caption minimal">
                    <div class="display--table">
                        <div class="display--table-cell">
                            <div class="entry-caption-text">
                                <span class="entry-meta">Mumbai</span>
                                <h3 class="entry-title">Augmented Wings for <br> Park Avenue</h3>
                            </div>
                        </div>
                    </div>
                </header>
            </a>
        </article>
    </div>

    <div class="masonry-grid-item m35 int exp">
        <article class="entry-portfolio">
            <a ng-href="#/projects/wallInteractiveProjection/">
                <figure class="entry-thumbnail">
                    <img src="../../img/projects/thumbnails/wallIP.jpg">
                </figure>

                <header class="entry-caption minimal">
                    <div class="display--table">
                        <div class="display--table-cell">
                            <div class="entry-caption-text">
                                <span class="entry-meta">Mumbai</span>
                                <h3 class="entry-title">Wall Interactive Projection</h3>
                            </div>
                        </div>
                    </div>
                </header>
            </a>
        </article>
    </div>

    <div class="masonry-grid-item m30 exp">
        <article class="entry-portfolio">
            <a ng-href="#/projects/tintedWater/">
                <figure class="entry-thumbnail">
                    <img src="../../img/projects/thumbnails/tintedWater.jpg">
                </figure>

                <header class="entry-caption minimal">
                    <div class="display--table">
                        <div class="display--table-cell">
                            <div class="entry-caption-text">
                                <span class="entry-meta">NID, Ahmedabad</span>
                                <h3 class="entry-title">Tinted Water</h3>
                            </div>
                        </div>
                    </div>
                </header>
            </a>
        </article>
    </div>

    <div class="masonry-grid-item m100 vr">
        <article class="entry-portfolio">
            <a ng-href="#/projects/doritosVertigoChallenge/">
                <figure class="entry-thumbnail">
                    <img src="../../img/projects/thumbnails/doritosVertigoChallenge.jpg">
                </figure>

                <header class="entry-caption minimal">
                    <div class="display--table">
                        <div class="display--table-cell">
                            <div class="entry-caption-text">
                                <span class="entry-meta">Agra</span>
                                <h3 class="entry-title">Doritos Vertigo Challenge</h3>
                            </div>
                        </div>
                    </div>
                </header>
            </a>
        </article>
    </div>

    <div class="masonry-grid-item m40 ar int exp">
        <article class="entry-portfolio">
            <a ng-href="#/projects/google/">
                <figure class="entry-thumbnail">
                    <img src="../../img/projects/thumbnails/google.jpg">
                </figure>

                <header class="entry-caption minimal">
                    <div class="display--table">
                        <div class="display--table-cell">
                            <div class="entry-caption-text">
                                <span class="entry-meta">Delhi</span>
                                <h3 class="entry-title">Google</h3>
                            </div>
                        </div>
                    </div>
                </header>
            </a>
        </article>
    </div>

    <div class="masonry-grid-item m60 ar">
        <article class="entry-portfolio">
            <a ng-href="#/projects/geetaMahautsav/">
                <figure class="entry-thumbnail">
                    <img src="../../img/projects/thumbnails/geetaMahautsav.jpg">
                </figure>

                <header class="entry-caption minimal">
                    <div class="display--table">
                        <div class="display--table-cell">
                            <div class="entry-caption-text">
                                <span class="entry-meta">Kurukshetra</span>
                                <h3 class="entry-title">Geeta Mahautsav</h3>
                            </div>
                        </div>
                    </div>
                </header>
            </a>
        </article>
    </div>

    <div class="masonry-grid-item m65 ar vr">
        <article class="entry-portfolio">
            <a ng-href="#/projects/glenmorangieInteractiveLaunch/">
                <figure class="entry-thumbnail">
                    <img src="../../img/projects/thumbnails/gil.jpg">
                </figure>

                <header class="entry-caption minimal">
                    <div class="display--table">
                        <div class="display--table-cell">
                            <div class="entry-caption-text">
                                <span class="entry-meta">Delhi</span>
                                <h3 class="entry-title">Glenmorangie Interactive Launch</h3>
                            </div>
                        </div>
                    </div>
                </header>
            </a>
        </article>
    </div>

    <div class="masonry-grid-item m35 int pb">
        <article class="entry-portfolio">
            <a ng-href="#/projects/roposo/">
                <figure class="entry-thumbnail">
                    <img src="../../img/projects/thumbnails/roposo.jpg">
                </figure>

                <header class="entry-caption minimal">
                    <div class="display--table">
                        <div class="display--table-cell">
                            <div class="entry-caption-text">
                                <span class="entry-meta">Shillong and Kolkata</span>
                                <h3 class="entry-title">Roposo</h3>
                            </div>
                        </div>
                    </div>
                </header>
            </a>
        </article>
    </div>

    <div class="masonry-grid-item m35 exp">
        <article class="entry-portfolio">
            <a ng-href="#/projects/jaltarang/">
                <figure class="entry-thumbnail">
                    <img src="../../img/projects/thumbnails/jaltarang.jpg">
                </figure>

                <header class="entry-caption minimal">
                    <div class="display--table">
                        <div class="display--table-cell">
                            <div class="entry-caption-text">
                                <span class="entry-meta">Mumbai International Airport</span>
                                <h3 class="entry-title">Jaltarang</h3>
                            </div>
                        </div>
                    </div>
                </header>
            </a>
        </article>
    </div>

    <div class="masonry-grid-item m50 vr">
        <article class="entry-portfolio">
            <a ng-href="#/projects/bosch/">
                <figure class="entry-thumbnail">
                    <img src="../../img/projects/thumbnails/bosch.jpg">
                    <!--<img src="<path-of-secondary-image>" class="secondary">-->
                </figure>

                <header class="entry-caption minimal">
                    <div class="display--table">
                        <div class="display--table-cell">
                            <div class="entry-caption-text">
                                <span class="entry-meta">Mumbai</span>
                                <h3 class="entry-title">Bosch Manufacturing Conclave</h3>
                            </div>
                        </div>
                    </div>
                </header>
            </a>
        </article>
    </div>

    <div class="masonry-grid-item m50 ar">
        <article class="entry-portfolio">
            <a ng-href="#/projects/ngcm2m/">
                <figure class="entry-thumbnail">
                    <img src="../../img/projects/thumbnails/ngcm2m.jpg">
                </figure>

                <header class="entry-caption minimal">
                    <div class="display--table">
                        <div class="display--table-cell">
                            <div class="entry-caption-text">
                                <span class="entry-meta">Gurgaon</span>
                                <h3 class="entry-title">National Geoghrapic - Mission To Mars, Augmented Reality</h3>
                            </div>
                        </div>
                    </div>
                </header>
            </a>
        </article>
    </div>

    <div class="masonry-grid-item m40 ar pb">
        <article class="entry-portfolio">
            <a ng-href="#/projects/tata/">
                <figure class="entry-thumbnail">
                    <img src="../../img/projects/thumbnails/tata.jpg">
                </figure>

                <header class="entry-caption minimal">
                    <div class="display--table">
                        <div class="display--table-cell">
                            <div class="entry-caption-text">
                                <span class="entry-meta">Auto Expo 2016</span>
                                <h3 class="entry-title">Head's Up Tata</h3>
                            </div>
                        </div>
                    </div>
                </header>
            </a>
        </article>
    </div>

    <div class="masonry-grid-item m60 int">
        <article class="entry-portfolio">
            <a ng-href="#/projects/toyotaAutoExpo/">
                <figure class="entry-thumbnail">
                    <img src="../../img/projects/thumbnails/toyotaAutoExpo.jpg">
                </figure>

                <header class="entry-caption minimal">
                    <div class="display--table">
                        <div class="display--table-cell">
                            <div class="entry-caption-text">
                                <span class="entry-meta">AutoExpo 2014, Greater Noida</span>
                                <h3 class="entry-title">Toyota</h3>
                            </div>
                        </div>
                    </div>
                </header>
            </a>
        </article>
    </div>

    <div class="masonry-grid-item m50 int">
        <article class="entry-portfolio">
            <a ng-href="#/projects/colorNextAP/">
                <figure class="entry-thumbnail">
                    <img src="../../img/projects/thumbnails/colorNextAP.jpg">
                </figure>

                <header class="entry-caption minimal">
                    <div class="display--table">
                        <div class="display--table-cell">
                            <div class="entry-caption-text">
                                <span class="entry-meta">Delhi & Mumbai</span>
                                <h3 class="entry-title">ColorNext 2015 - For Asian Paints</h3>
                            </div>
                        </div>
                    </div>
                </header>
            </a>
        </article>
    </div>

    <div class="masonry-grid-item m50 ar exp">
        <article class="entry-portfolio">
            <a ng-href="#/projects/jabongRampWalk/">
                <figure class="entry-thumbnail">
                    <img src="../../img/projects/thumbnails/jabongRampWalk.jpg">
                </figure>

                <header class="entry-caption minimal">
                    <div class="display--table">
                        <div class="display--table-cell">
                            <div class="entry-caption-text">
                                <span class="entry-meta">Lakme India Fashion Week, Mumbai</span>
                                <h3 class="entry-title">Augmented Reality <br> Ramp Walk for Jabong</h3>
                            </div>
                        </div>
                    </div>
                </header>
            </a>
        </article>
    </div>

    <div class="masonry-grid-item m65 mul">
        <article class="entry-portfolio">
            <a ng-href="#/projects/bmgf/">
                <figure class="entry-thumbnail">
                    <img src="../../img/projects/thumbnails/bmgf.jpg">
                </figure>

                <header class="entry-caption minimal">
                    <div class="display--table">
                        <div class="display--table-cell">
                            <div class="entry-caption-text">
                                <span class="entry-meta">New Delhi</span>
                                <h3 class="entry-title">Bill & Melinda Gates foundation</h3>
                            </div>
                        </div>
                    </div>
                </header>
            </a>
        </article>
    </div>

    <div class="masonry-grid-item m35 vr">
        <article class="entry-portfolio">
            <a ng-href="#/projects/siyaKeRam/">
                <figure class="entry-thumbnail">
                    <img src="../../img/projects/thumbnails/siya.jpg">
                </figure>

                <header class="entry-caption minimal">
                    <div class="display--table">
                        <div class="display--table-cell">
                            <div class="entry-caption-text">
                                <span class="entry-meta">Multiple Cities</span>
                                <h3 class="entry-title">Siya Ke Ram</h3>
                            </div>
                        </div>
                    </div>
                </header>
            </a>
        </article>
    </div>

    <div class="masonry-grid-item m35 ar pb">
        <article class="entry-portfolio">
            <a ng-href="#/projects/shauryaSmarak/">
                <figure class="entry-thumbnail">
                    <img src="../../img/projects/thumbnails/shauryaSmarak.jpg">
                </figure>

                <header class="entry-caption minimal">
                    <div class="display--table">
                        <div class="display--table-cell">
                            <div class="entry-caption-text">
                                <span class="entry-meta">Bhopal</span>
                                <h3 class="entry-title">Shaurya Smarak - <br> Virtual Soldier</h3>
                            </div>
                        </div>
                    </div>
                </header>
            </a>
        </article>
    </div>


    <div class="masonry-grid-item m60 ar exp">
        <article class="entry-portfolio">
            <a ng-href="#/projects/kathputliColony/">
                <figure class="entry-thumbnail">
                    <img src="../../img/projects/thumbnails/kathputliColony.jpg">
                </figure>

                <header class="entry-caption minimal">
                    <div class="display--table">
                        <div class="display--table-cell">
                            <div class="entry-caption-text">
                                <span class="entry-meta">New Delhi 2015</span>
                                <h3 class="entry-title">Kathputli Colony</h3>
                            </div>
                        </div>
                    </div>
                </header>
            </a>
        </article>
    </div>

    <div class="masonry-grid-item m40 int">
        <article class="entry-portfolio">
            <a ng-href="#/projects/jaquar/">
                <figure class="entry-thumbnail">
                    <img src="../../img/projects/thumbnails/jaquar.jpg">
                </figure>

                <header class="entry-caption minimal">
                    <div class="display--table">
                        <div class="display--table-cell">
                            <div class="entry-caption-text">
                                <span class="entry-meta">Delhi/NCR</span>
                                <h3 class="entry-title">Jaquar</h3>
                            </div>
                        </div>
                    </div>
                </header>
            </a>
        </article>
    </div>

    <div class="masonry-grid-item m50 vr int">
        <article class="entry-portfolio">
            <a ng-href="#/projects/acmaCarSimulation/">
                <figure class="entry-thumbnail">
                    <img src="../../img/projects/thumbnails/acma-car-simulation.jpg">
                </figure>

                <header class="entry-caption minimal">
                    <div class="display--table">
                        <div class="display--table-cell">
                            <div class="entry-caption-text">
                                <span class="entry-meta">Pune</span>
                                <h3 class="entry-title">Acma Car Simulation</h3>
                            </div>
                        </div>
                    </div>
                </header>
            </a>
        </article>
    </div>

    <div class="masonry-grid-item m50 exp">
        <article class="entry-portfolio">
            <a ng-href="#/projects/varanasiMuseum/">
                <figure class="entry-thumbnail">
                    <img src="../../img/projects/thumbnails/varanasi-museum.jpg">
                </figure>

                <header class="entry-caption minimal">
                    <div class="display--table">
                        <div class="display--table-cell">
                            <div class="entry-caption-text">
                                <span class="entry-meta">Varanasi</span>
                                <h3 class="entry-title">Varanasi Museum</h3>
                            </div>
                        </div>
                    </div>
                </header>
            </a>
        </article>
    </div>

</div>