@import "mixins"

.row .pad-0
  padding: 0

.row .marg-0
  margin: 0

a, a:hover, a:visited
  text-decoration: none
  color: inherit

.grid
  list-style: none
  margin: 0 0 0 -30px
  padding: 0
  position: relative

.grid-item
  display: inline-block
  padding-left: 30px
  vertical-align: top
  width: 100%
  +box-sizing(border-box)