@charset "utf-8"

@import "default"
@import "mixins"
@import "variable"

.page-heading
  font-family: "Poppins", sans-serif
  text-align: center
  margin: 100px 0 200px
  font-size: 4rem
  span
    padding-bottom: 5px

.clients-list-box
  width: 100%
  display: inline-block

.clients-list-item
  width: 25%
  padding: 0 10px
  float: left
  box-sizing: border-box
  cursor: pointer
  .list-inner
    padding: 20px 0
    margin-bottom: 20px
    text-align: center
    background-color: #ffffff
    opacity: .5
    +transition(all .3s ease)
    &:hover
      opacity: 1
    img
      max-width: 100%


.media-heading
  font-family: "Poppins", sans-serif
  font-size: 8vmin
  padding-bottom: 100px
  line-height: 1.2
  font-weight: bold
  margin-bottom: 100px
  margin-top: 100px
  text-align: center
  text-transform: uppercase

.media-img-box
  margin: 0 auto
  text-align: center
  img
    width: auto
    max-width: 100%


@media screen and (max-width: 992px)
  .clients-list-item
    width: 33.33%

  .page-heading
    font-size:  3rem

@media screen and (max-width: 600px)
  .clients-list-item
    width: 50%
    .list-inner
      opacity: 1

  .page-heading
    font-size: 2rem
    margin: 150px 0 250px