@charset "utf-8"

@import "default"
@import "mixins"
@import "variable"

body
  background-color: #282b31

#site
  overflow: hidden
  display: flex
  min-height: 100vh
  flex-direction: column
  position: relative
  left: 0
  top: 0
  +transition(left 400ms cubic-bezier(0.23, 1, 0.32, 1), opacity 250ms cubic-bezier(0.23, 1, 0.32, 1))

.hero-header, .hero-header .media
  position: fixed
  width: 100vw
  height: 100vh
  top: 0
  left: 0
  z-index: 88

.hero-header
  .media
    background-image: url('../../img/contact-bg.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    position: absolute
    opacity: 0
    +transition(opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1))
    +transform(translateZ(0) scale(1))
    &.active
      opacity: 1
  &.active .media
    opacity: 0.11

.project-box
  width: 100%

.entry-content
  position: relative
  z-index: 98

.entry-hero-tagline
  z-index: 90
  position: relative
  width: 100%
  height: 170px
  display: flex
  text-align: center
  align-items: center
  +transform(translate3d(0, 0, 0))
  +transition(transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear)
  div
    width: 100%
  h1
    font-family: "Poppins", sans-serif
    font-size: 8vmin
    padding-bottom: 0
    line-height: 1.2
    font-weight: bold
    margin-bottom: 0
    margin-top: 0
  p
    margin: 0


.project-details-box
  position: relative
  z-index: 98
  padding: 0
  margin: 400px auto 0

.project-details
  width: calc(100% + 34px)
  margin-left: -26px
  .grid-item
    margin-bottom: 50px
    margin-left: -5px
    .heading
      font-size: 1.6875rem
      font-weight: 500
      margin-top: 0
      margin-bottom: 50px
    p
      margin: 0 0 24px
      font-weight: 300
      strong
        font-weight: 600
      a
        color: $primary-color
        font-weight: 700
        padding-bottom: 5px
        border-bottom: 2px solid transparent
        cursor: pointer
        +transition(all .3s ease)
        &:hover
          border-bottom-color: $primary-color

.three-twelfth
  width: 25%
.four-twelfth
  width: 33.333%
.eight-twelfth
  width: 66.667%
.seven-twelfth
  width: 58.333%
.full-width
  width: 100%
.half-width
  width: 50%


.join-us-box
  padding-top: 100px
  .grid-item .ptitle
    font-weight: bold



@media screen and (max-width: 992px)
  .entry-content
    margin-top: 70px

  .m6
    width: 50%
  .s12
    width: 100%

  .project-details
    .grid-item
      .heading
        margin-bottom: 0


@media screen and (max-width: 600px)
  .site-content
    .content-wrapper
      padding: 0 30px

  .m6
    width: 100%