@charset "utf-8"

@import "default"
@import "mixins"
@import "variable"

.site-footer
  max-width: 1440px
  margin: auto
  padding: 0 65px 125px
  z-index: 999
  position: relative
  bottom: 0
  width: 100%
  box-sizing: border-box
  +transition(transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear)
  .footer-text
    a
      padding-bottom: 3px
      &:hover
        border-bottom: 2px solid $primary-color

.footer-width
  width: 33.333%

#site-share
  position: fixed
  right: 65px
  bottom: 35px
  transform-origin: right bottom
  margin-right: -35px
  z-index: 999
  +transform(rotate(-90deg) translateX(100%))
  .site-share
    display: inline-block
    opacity: 0
    visibility: hidden
    +transform(translate3d(15px, 0, 0))
    +transition(transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear)
    &.active
      opacity: 1
      visibility: visible
      +transform(translate3d(0, 0, 0))
    &:not(:last-child):not(:first-child):after
      content: " — "
      margin-right: 5px
    .info
      margin-right: 5px
      font-size: 70%
      opacity: .2
    a
      font-size: 1.09375rem
      font-weight: 100
      color: #ffffff
      +transition(all 200ms linear)
      & > small
        font-size: 1em
        line-height: 1
      &.fb
        small, &:hover
          color: #3b5998
      &.vi
        small, &:hover
          color: #44BBFF
      &.in
        small, &:hover
          color: #007FB1
      &.gplus
        small, &:hover
          color: #D14836

.site-actions
  position: fixed
  top: 150px
  left: 1.2%
  z-index: 999
  +transform(scale(0.9))
  a
    height: 30px
    display: block
    position: relative
    margin-bottom: 15px
    opacity: 0
    visibility: hidden
    cursor: pointer
    +transform(translate3d(0, 15px, 0))
    +transition(transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear)
    &.active
      opacity: 1
      visibility: visible
      +transform(translate3d(0, 0, 0))
    .icon
      width: 30px
      height: 30px
      text-align: center
      line-height: 30px
      display: inline-block


@media screen and (max-width: 991px)
  .site-footer
    padding: 0 30px 75px

  .footer-width
    width: 50%

@media screen and (max-width: 600px)
  .footer-width
    width: 100%

  #site-share
    position: relative
    transform: none
    margin-right: 0
    right: 0

  .site-actions
    display: none