@charset "utf-8"

@import "default"
@import "mixins"
@import "variable"

.site-header
  max-width: 1440px
  margin: 40px auto
  padding: 40px 0 40px
  z-index: 9999
  position: relative
  .site-header-wrapper
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 65px

.site-logo
  h2
    margin: 0
    line-height: 0
  img
    max-height: 58px
    vertical-align: middle

.header-nav-right
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  .header-menu
    position: relative
    margin: 0
    z-index: 10
    padding: 0
    list-style-type: none
    display: inline-block
    +transition(all 200ms linear)
    .header-menu-item
      margin-left: 30px
      display: inline-block
      +transition(all 200ms linear)
      &:first-child
        margin-left: 0
      a
        text-decoration: none
        color: inherit
        font-family: inherit
        padding-bottom: 5px
        border-bottom: 2px solid transparent
        +transition(all 100ms linear)
        &:hover, &.active
          border-color: $primary-color

/* Loading */
.loading-container
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 99999
  background-color: #000000
  opacity: 1
  +transition(all 150ms linear)
.loading-box
  position: absolute
  top: 50%
  left: 50%
  margin-left: -12px
  pointer-events: none
  display: inline-block
  span
    font-family: Georgia, serif
    font-size: 28px
    line-height: 28px
    color: #ffffff
    animation-name: blink
    animation-duration: .9s
    animation-iteration-count: infinite
    animation-fill-mode: both
    +transition(all 200ms linear)
    &:first-child
      padding-left: 2px
    &:nth-child(2)
      animation-delay: .3s
    &:nth-child(3)
      animation-delay: .6s

.site-overlay
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  display: flex
  align-items: flex-end
  justify-content: flex-start
  width: 100%
  height: 100%
  z-index: 99999
  padding-bottom: 20px
  background-color: rgba(0,0,0, 0.95)
  +transition(all 200ms linear)
  .responsive-menu
    width: 100%
    max-width: 1440px
    margin: auto
    position: relative
    padding: 0 40px
    .close-icon
      position: fixed
      top: 50px
      right: 25px
      font-size: 30px
      cursor: pointer
      +transition(all 300ms ease)
      &:hover
        color: $primary-color


.responsive-nav
  cursor: pointer
  display: none
  .lines
    width: 20px
    height: 1px
    position: relative
    display: inline-block
    top: -9px
    background-color: #ffffff
    +transition(300ms)
    &::before, &::after
      display: inline-block
      width: 20px
      height: 1px
      background: #ffffff
      position: absolute
      left: 0
      content: ""
      transform-origin: 0.8571428571px center
      +transition(300ms)
    &::before
      top: 6px
    &::after
      top: -6px
  &:hover .lines
    &, &::before, &::after
      background-color: $primary-color

.overlay-menu
  position: relative
  list-style: none
  z-index: 99
  height: auto
  margin: 0
  padding: 0
  li
    display: block
    margin-bottom: 10px
    position: relative
    top: auto
    left: auto
    float: none
  a
    font-size: 2.875rem
    line-height: 1.3
    font-weight: bold
    position: relative
    color: #ffffff
    border-bottom: 2px solid transparent
    +transition(all 300ms ease)
    &:hover, &.active
      border-bottom-color: $primary-color


@keyframes blink
  0%
    opacity: .2
  20%
    opacity: 1
  100%
    opacity: .2


@media screen and (max-width: 992px)
  .header-nav-right
    .header-menu
      display: none

  .responsive-nav
    display: inherit

@media screen and (max-width: 768px)
  .site-header
    margin-bottom: 0
    margin-top: 0
    padding: 20px 0 40px
    .site-header-wrapper
      padding: 0 30px