@charset "utf-8"

@import "default"
@import "mixins"
@import "variable"

body
  background: #000000
  color: #ffffff
  width: 100%
  overflow-y: scroll
  font: 1.0625rem Karla, "Helvetica Neue", Helvetica, Arial, sans-serif
  font-family: 'Work Sans', sans-serif
  line-height: 1.53
  +transition(background 250ms linear, width 250ms linear, margin 250ms linear !important)

.site-content
  width: 100%
  max-width: 1440px
  margin: 0 auto
  padding-bottom: 250px
  flex: 1
  .content-wrapper
    padding: 0 65px
    z-index: 999
    +transition(all 300ms cubic-bezier(0.39, 0.575, 0.565, 1))
    .main-grid
      margin-top: -20px
      margin-left: -20px
      width: calc(100% + 20px)

.masonry-grid
  .masonry-grid-item
    box-sizing: border-box
    margin-bottom: 3px

.entry-portfolio
  position: relative
  overflow: hidden
  +transition(transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear)
  a
    display: block
    max-width: none
    width: 100%
    margin: 0
  img
    display: block
    max-width: none
    width: 100%
    margin: 0
  .secondary
    position: absolute
    top: 0
    left: 0
    width: 100%
    z-index: 99
    opacity: 0
    +transition(opacity 200ms linear)
  .entry-caption
    display: none
  figure
    position: relative
    z-index: 8
    margin: 0
  .entry-thumbnail
    img
      +transform(translate(10px, 10px))
    &:hover .secondary
      opacity: 1

.entry-caption
  position: fixed
  top: 0
  left: 0
  margin: 0
  width: 100%
  z-index: 9
  +transition(all .3s linear)
  .entry-meta
    font-family: "Crimson Text", Cambria, Georgia, serif
    font-style: italic
    font-size: 0.9375rem
    opacity: 1
  span, h3
    color: #141414
  .entry-title
    font-size: 1.5625rem
    line-height: 1.1
    font-weight: bold
    margin: 0
  &.minimal
    pointer-events: none
    opacity: 0
    +transition(opacity 100ms cubic-bezier(0.39, 0.575, 0.565, 1))
    .entry-caption-text
      display: inline-block
      position: relative
      min-width: 200px
      max-width: 500px
      .entry-meta
        padding: 2px 10px 1px
        position: absolute
        margin-top: -10px
        margin-right: -10px
        right: 0
        z-index: 9
        background-color: #ffffff
      .entry-title
        display: inline-block
        padding: 8px 20px 7px
        position: relative
        right: 0
        z-index: 8
        background-color: #ffffff

.entry-portfolio:hover
  .entry-caption
    display: block
    &.minimal
      opacity: 1


.display--table
  display: table
  table-layout: fixed
  width: 100%
  height: 100%

.display--table-cell
  display: table-cell
  vertical-align: middle
  float: none

.entry-meta
  opacity: .5
  font-size: 0.8125rem
  line-height: 1.2
  font-weight: 600
  margin: 0

.entry-title
  font-family: 'Poppins', sans-serif
  font-size: 2.0625rem
  margin-bottom: 25px
  margin-top: 0
  line-height: 1.2
  font-weight: 600
  min-width: 150px
  text-align: center


.category
  margin: 0 0 50px 0
  padding: 0
  list-style-type: none
  text-align: center
  li
    display: inline-block
    margin-bottom: 20px
    a
      padding: 5px
      color: #666666
      margin: 5px 10px
      border-bottom: 2px solid #666666
      cursor: pointer
      +transition(all .3s ease)
      &:hover, &.active-tab
        color: $primary-color
        border-bottom-color: $primary-color


/* Cards width classes */
.m20
  width: calc((20% - 4px))
.m25
  width: calc((25% - 4px))
.m30
  width: calc((30% - 4px))
.m35
  width: calc((35% - 15px))
.m40
  width: calc((40% - 5px))
.m50
  width: calc((50% - 5px))
.m60
  width: calc((60% - 5px))
.m65
  width: calc((65% - 15px))
.m70
  width: calc((70% - 15px))
.m75
  width: calc((75% - 10px))
.m80
  width: calc((80% - 10px))
.m90
  width: calc((90% - 10px))
.m100
  width: calc(100% - 10px)



/* Responsive */
@media screen and (max-width: 600px)
  .site-content
    .content-wrapper
      padding: 0 30px

  .m20, .m25, .m30, .m35, .m40, .m50, .m60, .m65, .m70, .m75, .m80, .m90
    width: calc(100% - 10px)