@charset "utf-8"

@import "default"
@import "mixins"
@import "variable"

body
  background-color: #282b31

#site
  overflow: hidden
  display: flex
  min-height: 100vh
  flex-direction: column
  position: relative
  left: 0
  top: 0
  +transition(left 400ms cubic-bezier(0.23, 1, 0.32, 1), opacity 250ms cubic-bezier(0.23, 1, 0.32, 1))

.hero-header, .hero-header .media
  position: fixed
  width: 100vw
  height: 100vh
  top: 0
  left: 0
  z-index: 88
  &.active
    z-index: 0

.hero-header
  .media-overlay
    position: absolute
    width: 100vw
    height: 100vh
    background-color: rgba(0,0,0,0.5)
  .media
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    position: absolute
    opacity: 0
    +transition(opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1))
    +transform(translateZ(0) scale(1))
    &.active
      opacity: 1
  &.active .media
    opacity: 0.05

.project-box
  width: 100%

.entry-content
  position: relative
  z-index: 98

.entry-hero-tagline
  z-index: 90
  position: relative
  width: 100%
  margin-top: 50px
  display: flex
  text-align: center
  align-items: center
  +transform(translate3d(0, 0, 0))
  +transition(transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear)
  div
    width: 100%
  h1
    font-family: "Poppins", sans-serif
    font-size: 8vmin
    padding-bottom: 0
    line-height: 1.2
    font-weight: bold
    margin-bottom: 0
    margin-top: 0
  p
    margin: 0


.project-details-box
  padding: 0 70px
  margin: 100px auto 0

.project-details
  width: calc(100% + 34px)
  margin-left: -26px
  .grid-item
    margin-bottom: 50px
    margin-left: -5px
    .heading
      font-size: 1.6875rem
      font-weight: 500
      margin-top: 0
      margin-bottom: 50px
    p
      margin: 0
      font-weight: 300
      strong
        font-weight: 600
  .project-description
    font-size: 1.9375rem
    line-height: 1.5
    font-weight: 300
    margin: 0
  .images-section
    img
      width: 100%

.entry-navigation-portfolio
  z-index: 90
  position: relative
  display: block !important
  margin-top: 200px
  text-align: center
  .entry-navigation-item
    font-family: 'Poppins', sans-serif
    display: inline-block
    font-size: 5.9375rem
    line-height: 1
    font-weight: 600
    +transition(all 200ms linear)
    .entry-navigation-info
      position: absolute
      top: 100%
      left: 30%
      margin-top: 10px
      width: 40%
      opacity: 0
      transition: all 150ms linear
      font-size: 1.0625rem
      text-align: center
      font-weight: 500
      line-height: 1.4
      visibility: hidden
      pointer-events: none
      +transform(translate3d(0, -15px, 0))
      .title
        display: block

.entry-navigation-item:hover .entry-navigation-info
  opacity: 1
  visibility: visible
  +transform(translate3d(0, 0, 0))

.four-twelfth
  width: 33.333%
.eight-twelfth
  width: 66.667%
.full-width
  width: 100%
.half-width
  width: 50%


.large-bot-padding
  padding-bottom: 250px


@media screen and (max-width: 992px)
  .project-details-box
    padding: 0


@media screen and (max-width: 600px)
  .site-content
    .content-wrapper
      padding: 0 30px

  .entry-hero-tagline
    margin-top: 100px

  .four-twelfth, .eight-twelfth, .half-width
    width: 100%

  .project-details
    .grid-item
      .heading
        margin-bottom: 10px
      iframe
        height: 250px
    .project-description
      font-size: 1.4rem

  .large-bot-padding
    padding-bottom: 50px

  .entry-navigation-portfolio
    margin-top: 150px
    .entry-navigation-item
      font-size: 3.5rem