<link rel="stylesheet" href="styles/css/project.css">

<header-custom></header-custom>

<div id="site">
    <div class="hero-header">
        <div class="media active" style="background-image: url('../../img/projects/thumbnails/bmgf.jpg')"></div>
        <div class="media-overlay"></div>
    </div>


    <div class="site-content">
        <div class="content-wrapper">

            <div class="project-box">
                <div class="entry-content">
                    <div class="entry-hero-tagline">
                        <div>
                            <h1>Bill & Melinda Gates Foundation</h1>
                            <p>Multitouch Experience</p>
                        </div>
                    </div>
                </div>

                <div class="project-details-box">
                    <div class="grid project-details">
                        <div class="grid-item four-twelfth">
                            <h3 class="heading">
                                <strong>
                                    <span>Bill & Melinda Gates Foundation</span>
                                </strong>
                            </h3>
                            <p>
                                Client<span class="s1"> — </span>
                                <strong>BMGF-DASRA</strong> <br>
                                Location
                                <span class="s1"> — <strong>New Delhi</strong><br> Year </span>
                                <span class="s1"> — <strong>2015</strong></span>
                            </p>
                        </div>
                        <div class="grid-item eight-twelfth large-bot-padding">
                            <h2 class="project-description">
                                Digital Jalebi is proud to work with Bill and Melinda Gates Foundation and Dasra for
                                creating this. Multi-touch panels are a great way to bring more engagement to events. In
                                the recently concluded Annual WSH Partners' Meet in New Delhi (Aug 16-17, 2016), the
                                Foundation discussed behaviour change, technology landscape and financing sanitation,
                                amongst its India sector partners. The event, Annual WSH Partners Meet 2016, was focused
                                on creating far-reaching and viable improvements to the Water, Sanitation & Hygiene
                                (WSH) for the developing world.
                            </h2>
                        </div>

                        <div class="grid-item full-width images-section large-bot-padding">
                            <iframe width="100%" height="500" src="https://www.youtube.com/embed/RX6Q0xbCESU?rel=0"
                                    frameborder="0" allowfullscreen></iframe>
                        </div>

                    </div>
                </div>


                <div class="entry-navigation-portfolio">
                    <a ng-href="#/projects/siyaKeRam/" class="entry-navigation-item">
                        <span>Next</span>
                        <span class="entry-navigation-info">
                            <span class="title">Siya Ke Ram</span>
                        </span>
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>

<footer-custom></footer-custom>