<link rel="stylesheet" href="styles/css/project.css">

<header-custom></header-custom>

<div id="site">
    <div class="hero-header">
        <div class="media active" style="background-image: url('../../img/projects/thumbnails/bosch.jpg')"></div>
        <div class="media-overlay"></div>
    </div>


    <div class="site-content">
        <div class="content-wrapper">

            <div class="project-box">
                <div class="entry-content">
                    <div class="entry-hero-tagline">
                        <div>
                            <h1>Bosch Manufacturing Conclave</h1>
                            <p>Virtual Reality</p>
                        </div>
                    </div>
                </div>

                <div class="project-details-box">
                    <div class="grid project-details">
                        <div class="grid-item four-twelfth">
                            <h3 class="heading">
                                <strong>
                                    <span>Bosch Manufacturing Conclave</span>
                                </strong>
                            </h3>
                            <p>
                                Client<span class="s1"> — </span>
                                <strong>Bosch India</strong> <br>
                                Location
                                <span class="s1"> — <strong>Mumbai</strong><br> Year </span>
                                <span class="s1"> — <strong>2016</strong></span>
                            </p>
                        </div>
                        <div class="grid-item eight-twelfth large-bot-padding">
                            <h2 class="project-description">
                                India's leading interactive studio Digital Jalebi created a virtual reality experience
                                zone for Bosch- India, at Mumbai on 11th Nov, 2016. This module was intended to show the
                                corporates how exactly the systems work at the production Units. It was an innovative
                                way to train and educated the ones oblivion to the tasks of production.
                            </h2>
                        </div>

                        <div class="grid-item full-width images-section large-bot-padding">
                            <iframe width="100%" height="500" src="https://www.youtube.com/embed/ptsJCLeaolk?rel=0"
                                    frameborder="0" allowfullscreen></iframe>
                        </div>

                        <div class="grid-item full-width images-section large-bot-padding">
                            <img src="../../img/projects/bosch/4.jpg">
                        </div>

                        <div class="grid-item half-width images-section large-bot-padding">
                            <img src="../../img/projects/bosch/1.jpg">
                        </div>
                        <div class="grid-item half-width images-section large-bot-padding">
                            <img src="../../img/projects/bosch/2.jpg">
                        </div>

                        <div class="grid-item full-width images-section large-bot-padding">
                            <img src="../../img/projects/bosch/3.jpg">
                        </div>

                        <div class="grid-item full-width images-section">
                            <iframe width="100%" height="500" src="https://www.youtube.com/embed/wL0zuk2xjnI?rel=0"
                                    frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>


                <div class="entry-navigation-portfolio">
                    <a ng-href="#/projects/ngcm2m/" class="entry-navigation-item">
                        <span>Next</span>
                        <span class="entry-navigation-info">
                            <span class="title">National Geoghrapic - Mission To Mars</span>
                        </span>
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>

<footer-custom></footer-custom>