<link rel="stylesheet" href="styles/css/project.css">

<header-custom></header-custom>

<div id="site">
    <div class="hero-header">
        <div class="media active" style="background-image: url('../../img/projects/thumbnails/colorNextAP.jpg')"></div>
        <div class="media-overlay"></div>
    </div>


    <div class="site-content">
        <div class="content-wrapper">

            <div class="project-box">
                <div class="entry-content">
                    <div class="entry-hero-tagline">
                        <div>
                            <h1>My Free Will - ColorNext 2015</h1>
                        </div>
                    </div>
                </div>

                <div class="project-details-box">
                    <div class="grid project-details">
                        <div class="grid-item four-twelfth">
                            <h3 class="heading">
                                <strong>
                                    <span>My Free Will - ColorNext 2015</span>
                                </strong>
                            </h3>
                            <p>
                                Client<span class="s1"> — </span>
                                <strong>Asian Paints</strong> <br>
                                Location
                                <span class="s1"> — <strong>Delhi & Mumbai</strong><br> Year </span>
                                <span class="s1"> — <strong>2015</strong></span>
                            </p>
                        </div>
                        <div class="grid-item eight-twelfth large-bot-padding">
                            <h2 class="project-description">
                                Digital Jalebi collaborated with Wari Watai Studios to create an Experiential
                                Installation for Asian Paints ColorNext 2015.
                            </h2>
                        </div>

                        <div class="grid-item full-width images-section large-bot-padding">
                            <iframe width="100%" height="500" src="https://www.youtube.com/embed/MF8pRqCDabY?rel=0"
                                    frameborder="0" allowfullscreen></iframe>
                        </div>

                        <div class="grid-item full-width images-section large-bot-padding">
                            <img src="../../img/projects/colorNextAP/1.jpg">
                        </div>

                        <div class="grid-item half-width images-section large-bot-padding">
                            <img src="../../img/projects/colorNextAP/2.jpg">
                        </div>
                        <div class="grid-item half-width images-section large-bot-padding">
                            <img src="../../img/projects/colorNextAP/3.jpg">
                        </div>

                        <div class="grid-item full-width images-section large-bot-padding">
                            <img src="../../img/projects/colorNextAP/4.jpg">
                        </div>

                        <div class="grid-item full-width images-section large-bot-padding">
                            <img src="../../img/projects/colorNextAP/5.jpg">
                        </div>
                    </div>
                </div>


                <div class="entry-navigation-portfolio">
                    <a ng-href="#/projects/roposo/" class="entry-navigation-item">
                        <span>Next</span>
                        <span class="entry-navigation-info">
                            <span class="title">Roposo</span>
                        </span>
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>

<footer-custom></footer-custom>