<link rel="stylesheet" href="styles/css/project.css">

<header-custom></header-custom>

<div id="site">
    <div class="hero-header">
        <div class="media active" style="background-image: url('../../img/projects/thumbnails/jabongRampWalk.jpg')"></div>
        <div class="media-overlay"></div>
    </div>


    <div class="site-content">
        <div class="content-wrapper">

            <div class="project-box">
                <div class="entry-content">
                    <div class="entry-hero-tagline">
                        <div>
                            <h1>Ramp Walk for Jabong</h1>
                            <p>Augmented Reality</p>
                        </div>
                    </div>
                </div>

                <div class="project-details-box">
                    <div class="grid project-details">
                        <div class="grid-item four-twelfth">
                            <h3 class="heading">
                                <strong>
                                    <span>Ramp Walk for Jabong</span>
                                </strong>
                            </h3>
                            <p>
                                Client<span class="s1"> — </span>
                                <strong>Jabong</strong> <br>
                                Location
                                <span class="s1"> — <strong>Lakme Fashion Week, Mumbai</strong><br> Year </span>
                                <span class="s1"> — <strong>2014</strong></span>
                            </p>
                        </div>
                        <div class="grid-item eight-twelfth large-bot-padding">
                            <h2 class="project-description">
                                To celebrate Jabong's presence in Lakme India fashion week, Digital jalebi and team
                                Jabong came up with an innovative thought."What if we give everyone a chance to be on
                                the ramp".
                            </h2>
                        </div>

                        <div class="grid-item full-width images-section large-bot-padding">
                            <iframe src="https://player.vimeo.com/video/106917601" width="100%" height="500"
                                    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>

                        <div class="grid-item full-width images-section large-bot-padding">
                            <img src="../../img/projects/jabongRampWalk/1.jpg">
                        </div>

                        <div class="grid-item half-width images-section large-bot-padding">
                            <img src="../../img/projects/jabongRampWalk/2.jpg">
                        </div>
                        <div class="grid-item half-width images-section large-bot-padding">
                            <img src="../../img/projects/jabongRampWalk/3.jpg">
                        </div>

                        <div class="grid-item half-width images-section large-bot-padding">
                            <img src="../../img/projects/jabongRampWalk/4.jpg">
                        </div>
                        <div class="grid-item half-width images-section large-bot-padding">
                            <img src="../../img/projects/jabongRampWalk/5.jpg">
                        </div>

                        <div class="grid-item full-width images-section large-bot-padding">
                            <img src="../../img/projects/jabongRampWalk/6.jpg">
                        </div>
                    </div>
                </div>


                <div class="entry-navigation-portfolio">
                    <a ng-href="#/projects/tintedWater/" class="entry-navigation-item">
                        <span>Next</span>
                        <span class="entry-navigation-info">
                            <span class="title">Tinted Water</span>
                        </span>
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>

<footer-custom></footer-custom>