<link rel="stylesheet" href="styles/css/project.css">

<header-custom></header-custom>

<div id="site">
    <div class="hero-header">
        <div class="media active" style="background-image: url('../../img/projects/thumbnails/ngcm2m.jpg')"></div>
        <div class="media-overlay"></div>
    </div>


    <div class="site-content">
        <div class="content-wrapper">

            <div class="project-box">
                <div class="entry-content">
                    <div class="entry-hero-tagline">
                        <div>
                            <h1>Mission To Mars - Year 2033</h1>
                            <p>Augmented Reality</p>
                        </div>
                    </div>
                </div>

                <div class="project-details-box">
                    <div class="grid project-details">
                        <div class="grid-item four-twelfth">
                            <h3 class="heading">
                                <strong>
                                    <span>Mission To Mars - Year 2033</span>
                                </strong>
                            </h3>
                            <p>
                                Client<span class="s1"> — </span>
                                <strong>National Geoghraphic Channel's Mission to Mars</strong> <br>
                                Location
                                <span class="s1"> — <strong>Gurgaon</strong><br> Year </span>
                                <span class="s1"> — <strong>2016</strong></span>
                            </p>
                        </div>
                        <div class="grid-item eight-twelfth large-bot-padding">
                            <h2 class="project-description">
                                India's leading interactive studio Digital Jalebi created a Mars augmented reality
                                experience for Nat Geo's Mars Experience Zone @ DLF cyber city, Gurgaon on 9th to 11th
                                Nov,2016. With some of the most realistic 3D animated characters created for Augmented
                                Reality this Interactive space was a major crowd puller at this popular spot.
                            </h2>
                        </div>

                        <div class="grid-item full-width images-section large-bot-padding">
                            <iframe width="100%" height="500" src="https://www.youtube.com/embed/bBx4_TgEW0M?rel=0"
                                    frameborder="0" allowfullscreen></iframe>
                        </div>

                        <div class="grid-item full-width images-section large-bot-padding">
                            <img src="../../img/projects/ngcm2m/1.jpg">
                        </div>

                        <div class="grid-item half-width images-section large-bot-padding">
                            <img src="../../img/projects/ngcm2m/2.jpg">
                        </div>
                        <div class="grid-item half-width images-section large-bot-padding">
                            <img src="../../img/projects/ngcm2m/3.jpg">
                        </div>

                        <div class="grid-item half-width images-section large-bot-padding">
                            <img src="../../img/projects/ngcm2m/4.jpg">
                        </div>
                        <div class="grid-item half-width images-section large-bot-padding">
                            <img src="../../img/projects/ngcm2m/5.jpg">
                        </div>

                        <div class="grid-item full-width images-section large-bot-padding">
                            <img src="../../img/projects/ngcm2m/6.jpg">
                        </div>

                        <div class="grid-item full-width images-section large-bot-padding">
                            <img src="../../img/projects/ngcm2m/7.jpg">
                        </div>

                    </div>
                </div>


                <div class="entry-navigation-portfolio">
                    <a ng-href="#/projects/soccerfun/" class="entry-navigation-item">
                        <span>Next</span>
                        <span class="entry-navigation-info">
                            <span class="title">Soccer Fun</span>
                        </span>
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>

<footer-custom></footer-custom>