<link rel="stylesheet" href="styles/css/project.css">

<header-custom></header-custom>

<div id="site">
    <div class="hero-header">
        <div class="media active" style="background-image: url('../../img/projects/thumbnails/roposo.jpg')"></div>
        <div class="media-overlay"></div>
    </div>


    <div class="site-content">
        <div class="content-wrapper">

            <div class="project-box">
                <div class="entry-content">
                    <div class="entry-hero-tagline">
                        <div>
                            <h1>Roposo</h1>
                        </div>
                    </div>
                </div>

                <div class="project-details-box">
                    <div class="grid project-details">
                        <div class="grid-item four-twelfth">
                            <h3 class="heading">
                                <strong>
                                    <span>Roposo</span>
                                </strong>
                            </h3>
                            <p>
                                Client<span class="s1"> — </span>
                                <strong>Roposo</strong> <br>
                                Location
                                <span class="s1"> — <strong>NH7, Weekender 2015</strong><br> Year </span>
                                <span class="s1"> — <strong>2015</strong></span>
                            </p>
                        </div>
                        <div class="grid-item eight-twelfth large-bot-padding">
                            <h2 class="project-description">
                                A cool 360 mirror for Music lovers to celebrate their presence at NH7 Weekender, 2015.
                            </h2>
                        </div>

                        <div class="grid-item full-width images-section large-bot-padding">
                            <iframe src="https://player.vimeo.com/video/149249637" width="100%" height="500"
                                    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>

                        <div class="grid-item full-width images-section large-bot-padding">
                            <img src="../../img/projects/roposo/1.JPG">
                        </div>

                        <div class="grid-item full-width images-section large-bot-padding">
                            <img src="../../img/projects/roposo/2.JPG">
                        </div>
                    </div>
                </div>


                <div class="entry-navigation-portfolio">
                    <a ng-href="#/projects/toyotaAutoExpo/" class="entry-navigation-item">
                        <span>Next</span>
                        <span class="entry-navigation-info">
                            <span class="title">Toyota</span>
                        </span>
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>

<footer-custom></footer-custom>