<link rel="stylesheet" href="styles/css/project.css">

<header-custom></header-custom>

<div id="site">
    <div class="hero-header">
        <div class="media active" style="background-image: url('../../img/projects/thumbnails/shauryaSmarak.jpg')"></div>
        <div class="media-overlay"></div>
    </div>


    <div class="site-content">
        <div class="content-wrapper">

            <div class="project-box">
                <div class="entry-content">
                    <div class="entry-hero-tagline">
                        <div>
                            <h1>Shaurya Smarak, Be a Soldier</h1>
                            <p>Augmented Reality</p>
                        </div>
                    </div>
                </div>

                <div class="project-details-box">
                    <div class="grid project-details">
                        <div class="grid-item four-twelfth">
                            <h3 class="heading">
                                <strong>
                                    <span>Shaurya Smarak, Be a Soldier</span>
                                </strong>
                            </h3>
                            <p>
                                Client<span class="s1"> — </span>
                                <strong>Government</strong> <br>
                                Location
                                <span class="s1"> — <strong>Bhopal</strong><br> Year </span>
                                <span class="s1"> — <strong>2016</strong></span>
                            </p>
                        </div>
                        <div class="grid-item eight-twelfth large-bot-padding">
                            <h2 class="project-description">
                                Be a soldier, is an Augmented reality exhibit developed for Shaurya Smarak, war memorial
                                at Bhopal. The exhibit lets visitors become a soldier literally, by augmented army
                                uniform on them. The underlying idea of the exhibit is to inspire and encourage visitors
                                about army. Roboskater by Audionautix is licensed under a Creative Commons Attribution
                                license (https://creativecommons.org/licenses/...)
                            </h2>
                        </div>

                        <div class="grid-item full-width images-section large-bot-padding">
                            <iframe width="100%" height="500" src="https://www.youtube.com/embed/7dAYYW6WS8w?rel=0"
                                    frameborder="0" allowfullscreen></iframe>
                        </div>

                    </div>
                </div>


                <div class="entry-navigation-portfolio">
                    <a ng-href="#/projects/bmgf/" class="entry-navigation-item">
                        <span>Next</span>
                        <span class="entry-navigation-info">
                            <span class="title">Bill & Melinda Gates foundation</span>
                        </span>
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>

<footer-custom></footer-custom>