<link rel="stylesheet" href="styles/css/project.css">

<header-custom></header-custom>

<div id="site">
    <div class="hero-header">
        <div class="media active" style="background-image: url('../../img/projects/thumbnails/siya.jpg')"></div>
        <div class="media-overlay"></div>
    </div>


    <div class="site-content">
        <div class="content-wrapper">

            <div class="project-box">
                <div class="entry-content">
                    <div class="entry-hero-tagline">
                        <div>
                            <h1>Siya Ke Ram</h1>
                            <p>Virtual Reality</p>
                        </div>
                    </div>
                </div>

                <div class="project-details-box">
                    <div class="grid project-details">

                        <div class="grid-item full-width images-section large-bot-padding">
                            <iframe width="100%" height="500" src="https://www.youtube.com/embed/RF5OSTVZLNI?rel=0"
                                    frameborder="0" allowfullscreen></iframe>
                        </div>

                    </div>
                </div>


                <div class="entry-navigation-portfolio">
                    <a ng-href="#/projects/tata/" class="entry-navigation-item">
                        <span>Next</span>
                        <span class="entry-navigation-info">
                            <span class="title">Head's up Tata</span>
                        </span>
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>

<footer-custom></footer-custom>