<link rel="stylesheet" href="styles/css/project.css">

<header-custom></header-custom>

<div id="site">
    <div class="hero-header">
        <div class="media active" style="background-image: url('../../img/projects/thumbnails/soccerfun.jpg')"></div>
        <div class="media-overlay"></div>
    </div>


    <div class="site-content">
        <div class="content-wrapper">

            <div class="project-box">
                <div class="entry-content">
                    <div class="entry-hero-tagline">
                        <div>
                            <h1>Soccer Fun</h1>
                            <p>Virtual Reality</p>
                        </div>
                    </div>
                </div>

                <div class="project-details-box">
                    <div class="grid project-details">
                        <div class="grid-item four-twelfth">
                            <h3 class="heading">
                                <strong>
                                    <span>Soccer Fun</span>
                                </strong>
                            </h3>
                            <p>
                                Client<span class="s1"> — </span>
                                <strong>RENTERTAINMENT</strong> <br>
                                Location
                                <span class="s1"> — <strong>MELBOURNE</strong><br> Year </span>
                                <span class="s1"> — <strong>2016</strong></span>
                            </p>
                        </div>
                        <div class="grid-item eight-twelfth large-bot-padding">
                            <h2 class="project-description">
                                Digital Jalebi collaborated with RENTERTAINMENT to showcase VR soccer experience at TGE
                                is Technology and Gadget Expo.
                            </h2>
                        </div>

                        <div class="grid-item full-width images-section large-bot-padding">
                            <iframe width="100%" height="500" src="https://www.youtube.com/embed/UPD2VHPLCnQ?rel=0"
                                    frameborder="0" allowfullscreen></iframe>
                        </div>

                    </div>
                </div>


                <div class="entry-navigation-portfolio">
                    <a ng-href="#/projects/shauryaSmarak/" class="entry-navigation-item">
                        <span>Next</span>
                        <span class="entry-navigation-info">
                            <span class="title">Shaurya Smarak - Virtual Soldier</span>
                        </span>
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>

<footer-custom></footer-custom>