<link rel="stylesheet" href="styles/css/project.css">

<header-custom></header-custom>

<div id="site">
    <div class="hero-header">
        <div class="media active" style="background-image: url('../../img/projects/thumbnails/tintedWater.jpg')"></div>
        <div class="media-overlay"></div>
    </div>


    <div class="site-content">
        <div class="content-wrapper">

            <div class="project-box">
                <div class="entry-content">
                    <div class="entry-hero-tagline">
                        <div>
                            <h1>Tinted Water</h1>
                        </div>
                    </div>
                </div>

                <div class="project-details-box">
                    <div class="grid project-details">
                        <div class="grid-item four-twelfth">
                            <h3 class="heading">
                                <strong>
                                    <span>Tinted Water</span>
                                </strong>
                            </h3>
                            <p>
                                Client<span class="s1"> — </span>
                                <strong>NID</strong> <br>
                                Location
                                <span class="s1"> — <strong>Ahmedabad</strong><br> Year </span>
                                <span class="s1"> — <strong>2012</strong></span>
                            </p>
                        </div>
                        <div class="grid-item eight-twelfth large-bot-padding">
                            <h2 class="project-description">
                                Tinted Waters is a piece of installation art at the juncture of ludic interfaces and
                                gestural interactions. Installed at India's most popular design festival RGB, 'Tinted
                                Waters' has been loved a lot.
                            </h2>
                        </div>

                        <div class="grid-item full-width images-section large-bot-padding">
                            <iframe src="https://player.vimeo.com/video/51846930" width="100%" height="500"
                                    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>

                        <div class="grid-item full-width images-section large-bot-padding">
                            <img src="../../img/projects/tintedWater/1.jpg">
                        </div>

                        <div class="grid-item half-width images-section large-bot-padding">
                            <img src="../../img/projects/tintedWater/2.jpg">
                        </div>
                        <div class="grid-item half-width images-section large-bot-padding">
                            <img src="../../img/projects/tintedWater/3.jpg">
                        </div>

                        <div class="grid-item full-width images-section large-bot-padding">
                            <img src="../../img/projects/tintedWater/4.jpg">
                        </div>
                    </div>
                </div>


                <div class="entry-navigation-portfolio">
                    <a ng-href="#/projects/parkAvenueAW/" class="entry-navigation-item">
                        <span>Next</span>
                        <span class="entry-navigation-info">
                            <span class="title">Augmented Wings for Park Avenue</span>
                        </span>
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>

<footer-custom></footer-custom>