<link rel="stylesheet" href="styles/css/project.css">

<header-custom></header-custom>

<div id="site">
    <div class="hero-header">
        <div class="media active" style="background-image: url('../../img/projects/thumbnails/toyotaAutoExpo.jpg')"></div>
        <div class="media-overlay"></div>
    </div>


    <div class="site-content">
        <div class="content-wrapper">

            <div class="project-box">
                <div class="entry-content">
                    <div class="entry-hero-tagline">
                        <div>
                            <h1>12th Auto Expo</h1>
                        </div>
                    </div>
                </div>

                <div class="project-details-box">
                    <div class="grid project-details">
                        <div class="grid-item four-twelfth">
                            <h3 class="heading">
                                <strong>
                                    <span>12th Auto Expo</span>
                                </strong>
                            </h3>
                            <p>
                                Client<span class="s1"> — </span>
                                <strong>Toyota</strong> <br>
                                Location
                                <span class="s1"> — <strong>Greater Noida</strong><br> Year </span>
                                <span class="s1"> — <strong>2014</strong></span>
                            </p>
                        </div>
                        <div class="grid-item eight-twelfth large-bot-padding">
                            <h2 class="project-description">
                                A digital interactive video wall for Toyota was made by Digital Jalebi for the 12th Auto
                                Expo. The interactive video wall was controlled by gesture and movements of hands.
                            </h2>
                        </div>

                        <div class="grid-item full-width images-section large-bot-padding">
                            <iframe src="https://player.vimeo.com/video/89105646" width="100%" height="500"
                                    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>

                        <div class="grid-item full-width images-section large-bot-padding">
                            <img src="../../img/projects/toyotaAutoExpo/1.jpg">
                        </div>

                        <div class="grid-item half-width images-section large-bot-padding">
                            <img src="../../img/projects/toyotaAutoExpo/2.jpg">
                        </div>
                        <div class="grid-item half-width images-section large-bot-padding">
                            <img src="../../img/projects/toyotaAutoExpo/3.jpg">
                        </div>

                        <div class="grid-item half-width images-section large-bot-padding">
                            <img src="../../img/projects/toyotaAutoExpo/4.jpg">
                        </div>
                        <div class="grid-item half-width images-section large-bot-padding">
                            <img src="../../img/projects/toyotaAutoExpo/5.jpg">
                        </div>
                    </div>
                </div>


                <div class="entry-navigation-portfolio">
                    <a ng-href="#/projects/jaltarang/" class="entry-navigation-item">
                        <span>Next</span>
                        <span class="entry-navigation-info">
                            <span class="title">Jaltarang</span>
                        </span>
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>

<footer-custom></footer-custom>