<header-custom></header-custom>

<div class="site-content">
    <div class="content-wrapper">

        <div class="media-heading">HT City</div>

        <div class="media-img-box">
            <img src="../../img/media/newsletter/Ht_city.jpg">
        </div>

    </div>
</div>

<footer-custom></footer-custom>