<link rel="stylesheet" href="styles/css/about.css">

<header-custom></header-custom>

<div id="site">
    <div class="hero-header">
        <div class="media active"></div>
    </div>


    <div class="site-content">
        <div class="content-wrapper">

            <div class="project-box">
                <div class="entry-content">
                    <div class="entry-hero-tagline">
                        <div>
                            <h1>DIGITAL JALEBI</h1>
                            <!--<p>Tag line if any</p>-->
                        </div>
                    </div>
                </div>

                <div class="project-details-box">

                    <div class="video-box">
                        <iframe src="https://player.vimeo.com/video/80199159?color=0ff1b3" frameborder="0"
                                webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>

                    <div class="grid project-details">
                        <div class="grid-item three-twelfth s12">
                            <h3 class="heading">
                                <strong>
                                    <span>Brief.</span>
                                </strong>
                            </h3>
                        </div>
                        <div class="grid-item nine-twelfth large-bot-padding s12">
                            <h2 class="about-text">
                                Digital Jalebi is a young and multidisciplinary team of Interaction Designers, New Media
                                Artists, Programmers, Computer & Electronics Engineers, Animators and Game Designers who
                                work together with constant collaboration with other Designers, Visual Artists and
                                Architects.
                            </h2>
                            <h2 class="about-text">
                                We are based in Delhi and Bangalore but cater to our clients throughout the world.
                            </h2>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<footer-custom></footer-custom>