<header-custom></header-custom>

<div class="site-content">
    <div class="content-wrapper">

        <div class="page-heading">
            <span>Our Happy Clients</span>
        </div>

        <div class="clients-list-box">

            <!-- Repeat this for clients list -->
            <div class="clients-list-item">
                <div class="list-inner">
                    <img src="img/clients/client1.jpg">
                </div>
            </div>
            <!-- Repeat this for clients list -->

            <div class="clients-list-item">
                <div class="list-inner">
                    <img src="img/clients/client2.jpg">
                </div>
            </div>

            <div class="clients-list-item">
                <div class="list-inner">
                    <img src="img/clients/client3.jpg">
                </div>
            </div>

            <div class="clients-list-item">
                <div class="list-inner">
                    <img src="img/clients/client4.jpg">
                </div>
            </div>

            <div class="clients-list-item">
                <div class="list-inner">
                    <img src="img/clients/client5.jpg">
                </div>
            </div>

            <div class="clients-list-item">
                <div class="list-inner">
                    <img src="img/clients/client6.jpg">
                </div>
            </div>

            <div class="clients-list-item">
                <div class="list-inner">
                    <img src="img/clients/client7.jpg">
                </div>
            </div>

            <div class="clients-list-item">
                <div class="list-inner">
                    <img src="img/clients/client8.jpg">
                </div>
            </div>

            <div class="clients-list-item">
                <div class="list-inner">
                    <img src="img/clients/client9.jpg">
                </div>
            </div>

            <div class="clients-list-item">
                <div class="list-inner">
                    <img src="img/clients/client10.jpg">
                </div>
            </div>

            <div class="clients-list-item">
                <div class="list-inner">
                    <img src="img/clients/client11.jpg">
                </div>
            </div>

            <div class="clients-list-item">
                <div class="list-inner">
                    <img src="img/clients/client13.jpg">
                </div>
            </div>

            <div class="clients-list-item">
                <div class="list-inner">
                    <img src="img/clients/client14.jpg">
                </div>
            </div>

            <div class="clients-list-item">
                <div class="list-inner">
                    <img src="img/clients/client15.jpg">
                </div>
            </div>

            <div class="clients-list-item">
                <div class="list-inner">
                    <img src="img/clients/client16.jpg">
                </div>
            </div>

            <div class="clients-list-item">
                <div class="list-inner">
                    <img src="img/clients/client17.jpg">
                </div>
            </div>

            <div class="clients-list-item">
                <div class="list-inner">
                    <img src="img/clients/client18.jpg">
                </div>
            </div>

            <div class="clients-list-item">
                <div class="list-inner">
                    <img src="img/clients/client19.jpg">
                </div>
            </div>

            <div class="clients-list-item">
                <div class="list-inner">
                    <img src="img/clients/client20.jpg">
                </div>
            </div>

            <div class="clients-list-item">
                <div class="list-inner">
                    <img src="img/clients/client21.jpg">
                </div>
            </div>

        </div>

    </div>
</div>

<footer-custom></footer-custom>