<link rel="stylesheet" href="styles/css/connect.css">

<header-custom></header-custom>

<div id="site">
    <div class="hero-header">
        <div class="media active"></div>
    </div>


    <div class="site-content">
        <div class="content-wrapper">

            <div class="project-box">
                <div class="entry-content">
                    <div class="entry-hero-tagline">
                        <div>
                            <h1>Hello</h1>
                            <p>Connect With Us</p>
                        </div>
                    </div>
                </div>

                <div class="project-details-box">
                    <div class="grid project-details">
                        <div class="grid-item three-twelfth s12">
                            <h3 class="heading">
                                Drop us a line
                            </h3>
                        </div>
                        <div class="grid-item three-twelfth s12">
                            <p>Stay in touch</p>
                            <p>
                                We love to say <span class="s1"> "</span>Hello!<span>"</span>
                            </p>
                            <p>
                                <a href="mailto:hello@digitaljalebi.com">hello@digitaljalebi.com</a>
                            </p>
                        </div>
                        <div class="grid-item three-twelfth m6">
                            <p>Delhi/NCR</p>
                            <p>
                                <a href="tel:+919811410667">Nikhil &nbsp; +91 981-141-0667</a>
                            </p>
                            <p>
                                <a href="tel:+919711445052">Naval &nbsp; +91 971-144-5052</a>
                            </p>
                        </div>
                        <div class="grid-item three-twelfth m6">
                            <p>Bangalore</p>
                            <p>
                                <a href="tel:+919740191750">Fawaz &nbsp; +91 974-0191-750</a>
                            </p>
                            <p>
                                <a href="tel:+919910883938">Fawaz &nbsp; +91 991-088-3938</a>
                            </p>
                        </div>
                    </div>

                    <div class="grid project-details join-us-box">
                        <div class="grid-item three-twelfth s12">
                            <h3 class="heading">
                                Join Us
                            </h3>
                        </div>
                        <div class="grid-item three-twelfth s12">
                            <p>Mail your resume at</p>
                            <p>
                                <a href="mailto:hello@digitaljalebi.com">hello@digitaljalebi.com</a>
                            </p>
                        </div>
                        <div class="grid-item three-twelfth m6">
                            <p class="ptitle">Creative Developers</p>
                            <p>Unity 3D</p>
                            <p>Processing</p>
                            <p>Actionscript</p>
                            <p>Kinect Programming</p>
                            <p>OpenFrameworks</p>
                            <p>VVVV</p>
                        </div>
                        <div class="grid-item three-twelfth m6">
                            <p class="ptitle">Electronic Artists</p>
                            <p>Arduino Programming</p>
                            <p>Working with Sensors</p>
                            <p>PCBs and many more..</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<footer-custom></footer-custom>