<header-custom></header-custom>


<div class="site-content">
    <div class="content-wrapper">

        <ul class="category">
            <li>
                <a data-type="all" class="active-tab">All</a>
            </li>
            <li>
                <a data-type="vr">Vr</a>
            </li>
            <li>
                <a data-type="ar">Augmented Reality</a>
            </li>
            <li>
                <a data-type="mul">Multi-touch</a>
            </li>
            <li>
                <a data-type="int">Interactive</a>
            </li>
            <li>
                <a data-type="mr">Mixed Reality</a>
            </li>
            <li>
                <a data-type="exp">Experimental</a>
            </li>
            <li>
                <a data-type="pb">Photobooth</a>
            </li>
        </ul>

        <projects-list></projects-list>

    </div>
</div>

<footer-custom></footer-custom>