<header-custom></header-custom>

<div class="site-content">
    <div class="content-wrapper">

        <div class="page-heading">
            <span>In Media</span>
        </div>

        <div class="clients-list-box">

            <!-- Repeat this for media list -->
            <div class="clients-list-item">
                <a href="#/media/bangalore-mirror">
                    <div class="list-inner">
                        <img src="../img/media/logos/logo1.png">
                    </div>
                </a>
            </div>
            <!-- Repeat this for clients list -->

            <div class="clients-list-item">
                <a href="#/media/dna">
                    <div class="list-inner">
                        <img src="../img/media/logos/logo2.png">
                    </div>
                </a>
            </div>

            <div class="clients-list-item">
                <a href="#/media/hindu">
                    <div class="list-inner">
                        <img src="../img/media/logos/logo3.png">
                    </div>
                </a>
            </div>

            <div class="clients-list-item">
                <a href="#/media/caravan">
                    <div class="list-inner">
                        <img src="../img/media/logos/logo4.png">
                    </div>
                </a>
            </div>

            <div class="clients-list-item">
                <a href="#/media/designwala">
                    <div class="list-inner">
                        <img src="../img/media/logos/logo5.png">
                    </div>
                </a>
            </div>

            <div class="clients-list-item">
                <a href="#/media/ht-city">
                    <div class="list-inner">
                        <img src="../img/media/logos/logo6.png">
                    </div>
                </a>
            </div>

        </div>

    </div>
</div>

<footer-custom></footer-custom>