.row .pad-0 {
  padding: 0; }

.row .marg-0 {
  margin: 0; }

a, a:hover, a:visited {
  text-decoration: none;
  color: inherit; }

.grid {
  list-style: none;
  margin: 0 0 0 -30px;
  padding: 0;
  position: relative; }

.grid-item {
  display: inline-block;
  padding-left: 30px;
  vertical-align: top;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* For ellipsis */
body {
  background-color: #282b31; }

#site {
  overflow: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  left: 0;
  top: 0;
  -webkit-transition: left 400ms cubic-bezier(0.23, 1, 0.32, 1), opacity 250ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: left 400ms cubic-bezier(0.23, 1, 0.32, 1), opacity 250ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: left 400ms cubic-bezier(0.23, 1, 0.32, 1), opacity 250ms cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: left 400ms cubic-bezier(0.23, 1, 0.32, 1), opacity 250ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: left 400ms cubic-bezier(0.23, 1, 0.32, 1), opacity 250ms cubic-bezier(0.23, 1, 0.32, 1); }

.hero-header, .hero-header .media {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 88; }

.hero-header .media {
  background-image: url("../../img/about-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -moz-transition: opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -ms-transition: opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transform: translateZ(0) scale(1);
  -ms-transform: translateZ(0) scale(1);
  -webkit-transform: translateZ(0) scale(1); }
  .hero-header .media.active {
    opacity: 1; }
.hero-header.active .media {
  opacity: 0.11; }

.project-box {
  width: 100%; }

.entry-content {
  position: relative;
  z-index: 98; }

.entry-hero-tagline {
  z-index: 90;
  position: relative;
  width: 100%;
  height: 170px;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear;
  -moz-transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear;
  -o-transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear;
  -ms-transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear;
  transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear; }
  .entry-hero-tagline div {
    width: 100%;
    margin-top: 100px; }
  .entry-hero-tagline h1 {
    font-family: "Poppins", sans-serif;
    font-size: 8vmin;
    padding-bottom: 0;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0; }
  .entry-hero-tagline p {
    margin: 0; }

.project-details-box {
  position: relative;
  z-index: 98;
  padding: 0;
  margin: 400px auto 0; }

.project-details {
  width: calc(100% + 34px);
  margin-left: -26px; }
  .project-details .grid-item {
    margin-bottom: 50px;
    margin-left: -5px; }
    .project-details .grid-item .heading {
      color: #c7c7c7;
      font-size: 18px;
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 50px; }
    .project-details .grid-item .about-text {
      font-size: 28px;
      font-weight: 300;
      line-height: 1.8;
      margin-top: 0; }

.three-twelfth {
  width: 25%; }

.nine-twelfth {
  width: 75%; }

.full-width {
  width: 100%; }

.half-width {
  width: 50%; }

.video-box {
  margin-bottom: 200px;
  text-align: center; }
  .video-box iframe {
    width: 640px;
    height: 360px; }

@media screen and (max-width: 992px) {
  .video-box iframe {
    width: 100%;
    height: 400px; } }
@media screen and (max-width: 600px) {
  .s12 {
    width: 100%; }

  .video-box {
    margin-bottom: 100px; }
    .video-box iframe {
      width: 100%;
      height: 200px; }

  .project-details .grid-item .heading {
    margin-bottom: 0; }
  .project-details .grid-item .about-text {
    font-size: 20px; }

  .project-details-box {
    margin: 380px auto 0; } }

/*# sourceMappingURL=about.css.map */
