.row .pad-0 {
  padding: 0; }

.row .marg-0 {
  margin: 0; }

a, a:hover, a:visited {
  text-decoration: none;
  color: inherit; }

.grid {
  list-style: none;
  margin: 0 0 0 -30px;
  padding: 0;
  position: relative; }

.grid-item {
  display: inline-block;
  padding-left: 30px;
  vertical-align: top;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* For ellipsis */
.page-heading {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 100px 0 200px;
  font-size: 4rem; }
  .page-heading span {
    padding-bottom: 5px; }

.clients-list-box {
  width: 100%;
  display: inline-block; }

.clients-list-item {
  width: 25%;
  padding: 0 10px;
  float: left;
  box-sizing: border-box;
  cursor: pointer; }
  .clients-list-item .list-inner {
    padding: 20px 0;
    margin-bottom: 20px;
    text-align: center;
    background-color: #ffffff;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .clients-list-item .list-inner:hover {
      opacity: 1; }
    .clients-list-item .list-inner img {
      max-width: 100%; }

.media-heading {
  font-family: "Poppins", sans-serif;
  font-size: 8vmin;
  padding-bottom: 100px;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 100px;
  margin-top: 100px;
  text-align: center;
  text-transform: uppercase; }

.media-img-box {
  margin: 0 auto;
  text-align: center; }
  .media-img-box img {
    width: auto;
    max-width: 100%; }

@media screen and (max-width: 992px) {
  .clients-list-item {
    width: 33.33%; }

  .page-heading {
    font-size: 3rem; } }
@media screen and (max-width: 600px) {
  .clients-list-item {
    width: 50%; }
    .clients-list-item .list-inner {
      opacity: 1; }

  .page-heading {
    font-size: 2rem;
    margin: 150px 0 250px; } }

/*# sourceMappingURL=clients.css.map */
