.row .pad-0 {
  padding: 0; }

.row .marg-0 {
  margin: 0; }

a, a:hover, a:visited {
  text-decoration: none;
  color: inherit; }

.grid {
  list-style: none;
  margin: 0 0 0 -30px;
  padding: 0;
  position: relative; }

.grid-item {
  display: inline-block;
  padding-left: 30px;
  vertical-align: top;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* For ellipsis */
body {
  background-color: #282b31; }

#site {
  overflow: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  left: 0;
  top: 0;
  -webkit-transition: left 400ms cubic-bezier(0.23, 1, 0.32, 1), opacity 250ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: left 400ms cubic-bezier(0.23, 1, 0.32, 1), opacity 250ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: left 400ms cubic-bezier(0.23, 1, 0.32, 1), opacity 250ms cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: left 400ms cubic-bezier(0.23, 1, 0.32, 1), opacity 250ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: left 400ms cubic-bezier(0.23, 1, 0.32, 1), opacity 250ms cubic-bezier(0.23, 1, 0.32, 1); }

.hero-header, .hero-header .media {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 88; }

.hero-header .media {
  background-image: url("../../img/contact-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -moz-transition: opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -ms-transition: opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transform: translateZ(0) scale(1);
  -ms-transform: translateZ(0) scale(1);
  -webkit-transform: translateZ(0) scale(1); }
  .hero-header .media.active {
    opacity: 1; }
.hero-header.active .media {
  opacity: 0.11; }

.project-box {
  width: 100%; }

.entry-content {
  position: relative;
  z-index: 98; }

.entry-hero-tagline {
  z-index: 90;
  position: relative;
  width: 100%;
  height: 170px;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear;
  -moz-transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear;
  -o-transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear;
  -ms-transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear;
  transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear; }
  .entry-hero-tagline div {
    width: 100%; }
  .entry-hero-tagline h1 {
    font-family: "Poppins", sans-serif;
    font-size: 8vmin;
    padding-bottom: 0;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0; }
  .entry-hero-tagline p {
    margin: 0; }

.project-details-box {
  position: relative;
  z-index: 98;
  padding: 0;
  margin: 400px auto 0; }

.project-details {
  width: calc(100% + 34px);
  margin-left: -26px; }
  .project-details .grid-item {
    margin-bottom: 50px;
    margin-left: -5px; }
    .project-details .grid-item .heading {
      font-size: 1.6875rem;
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 50px; }
    .project-details .grid-item p {
      margin: 0 0 24px;
      font-weight: 300; }
      .project-details .grid-item p strong {
        font-weight: 600; }
      .project-details .grid-item p a {
        color: #e00c8c;
        font-weight: 700;
        padding-bottom: 5px;
        border-bottom: 2px solid transparent;
        cursor: pointer;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .project-details .grid-item p a:hover {
          border-bottom-color: #e00c8c; }

.three-twelfth {
  width: 25%; }

.four-twelfth {
  width: 33.333%; }

.eight-twelfth {
  width: 66.667%; }

.seven-twelfth {
  width: 58.333%; }

.full-width {
  width: 100%; }

.half-width {
  width: 50%; }

.join-us-box {
  padding-top: 100px; }
  .join-us-box .grid-item .ptitle {
    font-weight: bold; }

@media screen and (max-width: 992px) {
  .entry-content {
    margin-top: 70px; }

  .m6 {
    width: 50%; }

  .s12 {
    width: 100%; }

  .project-details .grid-item .heading {
    margin-bottom: 0; } }
@media screen and (max-width: 600px) {
  .site-content .content-wrapper {
    padding: 0 30px; }

  .m6 {
    width: 100%; } }

/*# sourceMappingURL=connect.css.map */
