@charset "UTF-8";
.row .pad-0 {
  padding: 0; }

.row .marg-0 {
  margin: 0; }

a, a:hover, a:visited {
  text-decoration: none;
  color: inherit; }

.grid {
  list-style: none;
  margin: 0 0 0 -30px;
  padding: 0;
  position: relative; }

.grid-item {
  display: inline-block;
  padding-left: 30px;
  vertical-align: top;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* For ellipsis */
.site-footer {
  max-width: 1440px;
  margin: auto;
  padding: 0 65px 125px;
  z-index: 999;
  position: relative;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  -webkit-transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear;
  -moz-transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear;
  -o-transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear;
  -ms-transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear;
  transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear; }
  .site-footer .footer-text a {
    padding-bottom: 3px; }
    .site-footer .footer-text a:hover {
      border-bottom: 2px solid #e00c8c; }

.footer-width {
  width: 33.333%; }

#site-share {
  position: fixed;
  right: 65px;
  bottom: 35px;
  transform-origin: right bottom;
  margin-right: -35px;
  z-index: 999;
  transform: rotate(-90deg) translateX(100%);
  -ms-transform: rotate(-90deg) translateX(100%);
  -webkit-transform: rotate(-90deg) translateX(100%); }
  #site-share .site-share {
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(15px, 0, 0);
    -ms-transform: translate3d(15px, 0, 0);
    -webkit-transform: translate3d(15px, 0, 0);
    -webkit-transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear;
    -moz-transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear;
    -o-transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear;
    -ms-transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear;
    transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear; }
    #site-share .site-share.active {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0); }
    #site-share .site-share:not(:last-child):not(:first-child):after {
      content: " — ";
      margin-right: 5px; }
    #site-share .site-share .info {
      margin-right: 5px;
      font-size: 70%;
      opacity: 0.2; }
    #site-share .site-share a {
      font-size: 1.09375rem;
      font-weight: 100;
      color: #ffffff;
      -webkit-transition: all 200ms linear;
      -moz-transition: all 200ms linear;
      -o-transition: all 200ms linear;
      -ms-transition: all 200ms linear;
      transition: all 200ms linear; }
      #site-share .site-share a > small {
        font-size: 1em;
        line-height: 1; }
      #site-share .site-share a.fb small, #site-share .site-share a.fb:hover {
        color: #3b5998; }
      #site-share .site-share a.vi small, #site-share .site-share a.vi:hover {
        color: #44BBFF; }
      #site-share .site-share a.in small, #site-share .site-share a.in:hover {
        color: #007FB1; }
      #site-share .site-share a.gplus small, #site-share .site-share a.gplus:hover {
        color: #D14836; }

.site-actions {
  position: fixed;
  top: 150px;
  left: 1.2%;
  z-index: 999;
  transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9); }
  .site-actions a {
    height: 30px;
    display: block;
    position: relative;
    margin-bottom: 15px;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transform: translate3d(0, 15px, 0);
    -ms-transform: translate3d(0, 15px, 0);
    -webkit-transform: translate3d(0, 15px, 0);
    -webkit-transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear;
    -moz-transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear;
    -o-transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear;
    -ms-transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear;
    transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear; }
    .site-actions a.active {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0); }
    .site-actions a .icon {
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      display: inline-block; }

@media screen and (max-width: 991px) {
  .site-footer {
    padding: 0 30px 75px; }

  .footer-width {
    width: 50%; } }
@media screen and (max-width: 600px) {
  .footer-width {
    width: 100%; }

  #site-share {
    position: relative;
    transform: none;
    margin-right: 0;
    right: 0; }

  .site-actions {
    display: none; } }

/*# sourceMappingURL=footer.css.map */
