.row .pad-0 {
  padding: 0; }

.row .marg-0 {
  margin: 0; }

a, a:hover, a:visited {
  text-decoration: none;
  color: inherit; }

.grid {
  list-style: none;
  margin: 0 0 0 -30px;
  padding: 0;
  position: relative; }

.grid-item {
  display: inline-block;
  padding-left: 30px;
  vertical-align: top;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* For ellipsis */
.site-header {
  max-width: 1440px;
  margin: 40px auto;
  padding: 40px 0 40px;
  z-index: 9999;
  position: relative; }
  .site-header .site-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 65px; }

.site-logo h2 {
  margin: 0;
  line-height: 0; }
.site-logo img {
  max-height: 58px;
  vertical-align: middle; }

.header-nav-right {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .header-nav-right .header-menu {
    position: relative;
    margin: 0;
    z-index: 10;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear; }
    .header-nav-right .header-menu .header-menu-item {
      margin-left: 30px;
      display: inline-block;
      -webkit-transition: all 200ms linear;
      -moz-transition: all 200ms linear;
      -o-transition: all 200ms linear;
      -ms-transition: all 200ms linear;
      transition: all 200ms linear; }
      .header-nav-right .header-menu .header-menu-item:first-child {
        margin-left: 0; }
      .header-nav-right .header-menu .header-menu-item a {
        text-decoration: none;
        color: inherit;
        font-family: inherit;
        padding-bottom: 5px;
        border-bottom: 2px solid transparent;
        -webkit-transition: all 100ms linear;
        -moz-transition: all 100ms linear;
        -o-transition: all 100ms linear;
        -ms-transition: all 100ms linear;
        transition: all 100ms linear; }
        .header-nav-right .header-menu .header-menu-item a:hover, .header-nav-right .header-menu .header-menu-item a.active {
          border-color: #e00c8c; }

/* Loading */
.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background-color: #000000;
  opacity: 1;
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear; }

.loading-box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12px;
  pointer-events: none;
  display: inline-block; }
  .loading-box span {
    font-family: Georgia, serif;
    font-size: 28px;
    line-height: 28px;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear; }
    .loading-box span:first-child {
      padding-left: 2px; }
    .loading-box span:nth-child(2) {
      animation-delay: 0.3s; }
    .loading-box span:nth-child(3) {
      animation-delay: 0.6s; }

.site-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  z-index: 99999;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.95);
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear; }
  .site-overlay .responsive-menu {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    position: relative;
    padding: 0 40px; }
    .site-overlay .responsive-menu .close-icon {
      position: fixed;
      top: 50px;
      right: 25px;
      font-size: 30px;
      cursor: pointer;
      -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease;
      -o-transition: all 300ms ease;
      -ms-transition: all 300ms ease;
      transition: all 300ms ease; }
      .site-overlay .responsive-menu .close-icon:hover {
        color: #e00c8c; }

.responsive-nav {
  cursor: pointer;
  display: none; }
  .responsive-nav .lines {
    width: 20px;
    height: 1px;
    position: relative;
    display: inline-block;
    top: -9px;
    background-color: #ffffff;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    -ms-transition: 300ms;
    transition: 300ms; }
    .responsive-nav .lines::before, .responsive-nav .lines::after {
      display: inline-block;
      width: 20px;
      height: 1px;
      background: #ffffff;
      position: absolute;
      left: 0;
      content: "";
      transform-origin: 0.8571428571px center;
      -webkit-transition: 300ms;
      -moz-transition: 300ms;
      -o-transition: 300ms;
      -ms-transition: 300ms;
      transition: 300ms; }
    .responsive-nav .lines::before {
      top: 6px; }
    .responsive-nav .lines::after {
      top: -6px; }
  .responsive-nav:hover .lines, .responsive-nav:hover .lines::before, .responsive-nav:hover .lines::after {
    background-color: #e00c8c; }

.overlay-menu {
  position: relative;
  list-style: none;
  z-index: 99;
  height: auto;
  margin: 0;
  padding: 0; }
  .overlay-menu li {
    display: block;
    margin-bottom: 10px;
    position: relative;
    top: auto;
    left: auto;
    float: none; }
  .overlay-menu a {
    font-size: 2.875rem;
    line-height: 1.3;
    font-weight: bold;
    position: relative;
    color: #ffffff;
    border-bottom: 2px solid transparent;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    transition: all 300ms ease; }
    .overlay-menu a:hover, .overlay-menu a.active {
      border-bottom-color: #e00c8c; }

@keyframes blink {
  0% {
    opacity: 0.2; }
  20% {
    opacity: 1; }
  100% {
    opacity: 0.2; } }
@media screen and (max-width: 992px) {
  .header-nav-right .header-menu {
    display: none; }

  .responsive-nav {
    display: inherit; } }
@media screen and (max-width: 768px) {
  .site-header {
    margin-bottom: 0;
    margin-top: 0;
    padding: 20px 0 40px; }
    .site-header .site-header-wrapper {
      padding: 0 30px; } }

/*# sourceMappingURL=header.css.map */
