.row .pad-0 {
  padding: 0; }

.row .marg-0 {
  margin: 0; }

a, a:hover, a:visited {
  text-decoration: none;
  color: inherit; }

.grid {
  list-style: none;
  margin: 0 0 0 -30px;
  padding: 0;
  position: relative; }

.grid-item {
  display: inline-block;
  padding-left: 30px;
  vertical-align: top;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* For ellipsis */
body {
  background: #000000;
  color: #ffffff;
  width: 100%;
  overflow-y: scroll;
  font: 1.0625rem Karla, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: "Work Sans", sans-serif;
  line-height: 1.53;
  -webkit-transition: background 250ms linear, width 250ms linear, margin 250ms linear !important;
  -moz-transition: background 250ms linear, width 250ms linear, margin 250ms linear !important;
  -o-transition: background 250ms linear, width 250ms linear, margin 250ms linear !important;
  -ms-transition: background 250ms linear, width 250ms linear, margin 250ms linear !important;
  transition: background 250ms linear, width 250ms linear, margin 250ms linear !important; }

.site-content {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 250px;
  flex: 1; }
  .site-content .content-wrapper {
    padding: 0 65px;
    z-index: 999;
    -webkit-transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
    -moz-transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
    -o-transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
    -ms-transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1); }
    .site-content .content-wrapper .main-grid {
      margin-top: -20px;
      margin-left: -20px;
      width: calc(100% + 20px); }

.masonry-grid .masonry-grid-item {
  box-sizing: border-box;
  margin-bottom: 3px; }

.entry-portfolio {
  position: relative;
  overflow: hidden;
  -webkit-transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear;
  -moz-transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear;
  -o-transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear;
  -ms-transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear;
  transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 400ms cubic-bezier(0.39, 0.575, 0.565, 1), visibility 400ms linear; }
  .entry-portfolio a {
    display: block;
    max-width: none;
    width: 100%;
    margin: 0; }
  .entry-portfolio img {
    display: block;
    max-width: none;
    width: 100%;
    margin: 0; }
  .entry-portfolio .secondary {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    opacity: 0;
    -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    -o-transition: opacity 200ms linear;
    -ms-transition: opacity 200ms linear;
    transition: opacity 200ms linear; }
  .entry-portfolio .entry-caption {
    display: none; }
  .entry-portfolio figure {
    position: relative;
    z-index: 8;
    margin: 0; }
  .entry-portfolio .entry-thumbnail img {
    transform: translate(10px, 10px);
    -ms-transform: translate(10px, 10px);
    -webkit-transform: translate(10px, 10px); }
  .entry-portfolio .entry-thumbnail:hover .secondary {
    opacity: 1; }

.entry-caption {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  z-index: 9;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .entry-caption .entry-meta {
    font-family: "Crimson Text", Cambria, Georgia, serif;
    font-style: italic;
    font-size: 0.9375rem;
    opacity: 1; }
  .entry-caption span, .entry-caption h3 {
    color: #141414; }
  .entry-caption .entry-title {
    font-size: 1.5625rem;
    line-height: 1.1;
    font-weight: bold;
    margin: 0; }
  .entry-caption.minimal {
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity 100ms cubic-bezier(0.39, 0.575, 0.565, 1);
    -moz-transition: opacity 100ms cubic-bezier(0.39, 0.575, 0.565, 1);
    -o-transition: opacity 100ms cubic-bezier(0.39, 0.575, 0.565, 1);
    -ms-transition: opacity 100ms cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: opacity 100ms cubic-bezier(0.39, 0.575, 0.565, 1); }
    .entry-caption.minimal .entry-caption-text {
      display: inline-block;
      position: relative;
      min-width: 200px;
      max-width: 500px; }
      .entry-caption.minimal .entry-caption-text .entry-meta {
        padding: 2px 10px 1px;
        position: absolute;
        margin-top: -10px;
        margin-right: -10px;
        right: 0;
        z-index: 9;
        background-color: #ffffff; }
      .entry-caption.minimal .entry-caption-text .entry-title {
        display: inline-block;
        padding: 8px 20px 7px;
        position: relative;
        right: 0;
        z-index: 8;
        background-color: #ffffff; }

.entry-portfolio:hover .entry-caption {
  display: block; }
  .entry-portfolio:hover .entry-caption.minimal {
    opacity: 1; }

.display--table {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%; }

.display--table-cell {
  display: table-cell;
  vertical-align: middle;
  float: none; }

.entry-meta {
  opacity: 0.5;
  font-size: 0.8125rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 0; }

.entry-title {
  font-family: "Poppins", sans-serif;
  font-size: 2.0625rem;
  margin-bottom: 25px;
  margin-top: 0;
  line-height: 1.2;
  font-weight: 600;
  min-width: 150px;
  text-align: center; }

.category {
  margin: 0 0 50px 0;
  padding: 0;
  list-style-type: none;
  text-align: center; }
  .category li {
    display: inline-block;
    margin-bottom: 20px; }
    .category li a {
      padding: 5px;
      color: #666666;
      margin: 5px 10px;
      border-bottom: 2px solid #666666;
      cursor: pointer;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .category li a:hover, .category li a.active-tab {
        color: #e00c8c;
        border-bottom-color: #e00c8c; }

/* Cards width classes */
.m20 {
  width: calc((20% - 4px)); }

.m25 {
  width: calc((25% - 4px)); }

.m30 {
  width: calc((30% - 4px)); }

.m35 {
  width: calc((35% - 15px)); }

.m40 {
  width: calc((40% - 5px)); }

.m50 {
  width: calc((50% - 5px)); }

.m60 {
  width: calc((60% - 5px)); }

.m65 {
  width: calc((65% - 15px)); }

.m70 {
  width: calc((70% - 15px)); }

.m75 {
  width: calc((75% - 10px)); }

.m80 {
  width: calc((80% - 10px)); }

.m90 {
  width: calc((90% - 10px)); }

.m100 {
  width: calc(100% - 10px); }

/* Responsive */
@media screen and (max-width: 600px) {
  .site-content .content-wrapper {
    padding: 0 30px; }

  .m20, .m25, .m30, .m35, .m40, .m50, .m60, .m65, .m70, .m75, .m80, .m90 {
    width: calc(100% - 10px); } }

/*# sourceMappingURL=index.css.map */
